.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
}

.loginForm {
  margin-top: 50px;
  font-size: 20px;
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginForm label {
  flex: 3;
  text-align: center;
}
.button-login {
  margin: 20px;
}

.login-info {
  font-size: 18px;
  margin-top: 100px;
  text-align: center;
}
.hint {
  margin-top: 20px;
  padding: 0 10px;
  border-radius: 10px;
  background-color: rgb(170, 0, 0);
  color: #fff;
  font-size: 13px;
  font-weight: 800;
}
