.mainvideo {
}
.video-wrapper {
  display: flex;
  position: relative;
}

.videoplayer {
  flex: 6;
  /* position: absolute; */
  object-fit: contain;
  /* left: 50px;
	top:105px; */
  width: 70%;
  height: auto;
  max-height: 70%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.but {
  position: absolute;
  top: 80%;
  height: 10%;
}
