.mainvideo {
  background-image: url("background.jpeg");
  background-repeat: no-repeat;
  background-size: 1960px 1100px;
  height: 1100px;
}
.video-wrapper {
  display: flex;
  position: relative;

  /* background-size: contain; */
  /* height: 900px; */
  /* width: 1960px; */
}

.videoplayer {
  flex: 6;
  /* position: absolute; */
  object-fit: contain;
  /* left: 50px;
	top:105px; */
  width: 70%;
  height: auto;
  max-height: 70%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.but {
  position: absolute;
  top: 80%;
  height: 10%;
}
